<div class="container-fluid mt-lg">
    <!--headers-->
    <div class="row manage-trip manage-trip__headers-row">
        <div class="col-2">
            <h4 class="manage-trip__text-header">Days</h4>
        </div>
        <div class="col-8">
            <h4 class="manage-trip__text-header">Manage Your Trip</h4>
        </div>
        <div class="col-2">
            <h4 class="manage-trip__text-header">Order Your Day</h4>

        </div>
    </div>
    <div class="row">
        <!--days section-->
        <div class="col-2 manage-trip manage-trip__days-section">
            <button type="button" class="btn btn-info manage-trip__btn-day">Day 1</button>
            <!-- <button type="button" class="btn btn-info  manage-trip__btn-day">Day 2</button>
            <button type="button" class="btn btn-info  manage-trip__btn-day">Day 3</button> -->

        </div>
        <!--manage trip section-->
        <div class="col-8 manage-trip manage-trip__details-section">

            <!--dropdown-->
            <div class="row manage-trip__dropdown">
                <div class="col-1 manage-trip__dropdown-lable">
                    <label class="manage-trip__dropdown-text">Country</label>
                </div>
                <div class="col-3">

                    <app-dropdown>
                        <option *ngFor="let country of trip['countries']" value='country.id'>{{country.name}}</option>
                    </app-dropdown>

                </div>
                <a class="action-btn  manage-trip--btn-plus-color mr-3" [routerLink]="['/countries']">
                    <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon" style="right: auto;bottom: auto;"></i>
                </a>

                <div class="col-1 manage-trip__dropdown-lable ml-3">
                    <label class="manage-trip__dropdown-text">City</label>
                </div>
                <div class="col-3">

                    <app-dropdown>
                        <option *ngFor="let city of trip['cities']" value='city.id'>{{city.name}}</option>

                    </app-dropdown>
                </div>
                <!-- <a class="action-btn  manage-trip--btn-plus-color">
                    <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon" style="right: auto;bottom: auto;"></i>
                </a> -->
            </div>

            <!--tabs icons-->
            <div class="row tabs ">
                <!-- hena el tabs -->
                <div>
                    <tabset>
                        <tab heading="Hotels" id="tab1">
                            <a class="action-btn  manage-trip--btn-plus-color" [routerLink]="['/hotels']">
                                <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon" style="margin-left: 51.7rem; bottom: 56px;right: 0;"></i>
                            </a>
                            <trip-card-listing [dataa]="trip['hotels']"></trip-card-listing>

                        </tab>
                        <tab heading="Resturants">
                            <a class="action-btn  manage-trip--btn-plus-color" [routerLink]="['/restaurants']">
                                <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon" style="margin-left: 51.7rem; bottom: 56px;right: 0;"></i>
                            </a>
                            <trip-card-listing [dataa]="trip['resturants']"></trip-card-listing>

                        </tab>

                        <tab heading="Activities">
                            <a class="action-btn  manage-trip--btn-plus-color" [routerLink]="['/activities']">
                                <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon" style="margin-left: 51.7rem; bottom: 56px;right: 0;"></i>
                            </a>
                            <trip-card-listing [dataa]="trip['activities']"></trip-card-listing>
                        </tab>
                    </tabset>
                </div>

            </div>


        </div>
        <!--order section-->
        <div class="col-2 manage-trip manage-trip__order-day-section ">

            <span class="btn btn-info manage-trip__order-day manage-trip__btn-day" *ngFor="let item of orderTrip">{{item.name}} </span>

        </div>

    </div>
</div>
<button type="button" class="btn btn-info manage-trip__order-day manage-trip__btn-day" style="margin: 0 auto;display: flex;margin-bottom: 14rem;" [routerLink]="['/maketrip/preview']">Preview Your Trip</button>