<div class="card-review">
    <img [src]="review.image" alt="" srcset="">
    <h3 class="card-review__heading mt-3" style=" color:#EA7424;font-size:18px;font-family: cursive;">{{review.reviewerName}}</h3>
    <p>
        {{review.comment}}
    </p>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <div class="card-review__footer mt-3 p-3">
        <h5 class="heading" style="color: #EA7424">{{review.reviewrtitle}}</h5>
    </div>
</div>