<div class="row no-gutters nopadding">
    <div class="col-md-8 no-gutters nopadding d-none d-lg-block d-xl-block ">
        <div id="carouselExampleFade" class="img-size carousel slide carousel-fade " data-ride="carousel">
            <div class="img-size carousel-inner">
                <div class="img-size carousel-item active">
                    <img src="../../../assets/images/image1.jpg" class="slider_img_size" alt="...">
                </div>
                <div class="img-size carousel-item">
                    <img src="../../../assets/images/image2.jpg" class="slider_img_size" alt="...">
                </div>
                <div class="img-size carousel-item">
                    <img src="../../../assets/images/image3.jpg" class="slider_img_size" alt="...">
                </div>
                <div class="img-size carousel-item">
                    <img src="../../../assets/images/image4.jpg" class="slider_img_size" alt="...">
                </div>
                <div class="img-size carousel-item">
                    <img src="../../../assets/images/image5.jpg" class="slider_img_size" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 no-gutters nopadding">
        <form class="login100-form validate-form" style="color: black;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span class="login100-form-title p-b-43">
                Login to continue
            </span>
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
                <span class="focus-input100"></span>

            </div>
            <div>
                <span *ngIf="!loginForm.get('email').valid">
                    <span *ngIf="loginForm.get('email').errors && loginForm.get('email').touched"
                        class="error__msg text-danger">Please
                        Enter a valid Email!</span>
                </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
                <span class="focus-input100"></span>
                <div>
                    <span *ngIf="!loginForm.get('password').valid">
                        <span *ngIf="loginForm.get('password').errors && loginForm.get('password').touched"
                            class="error__msg text-danger">Password should be not less than 8 characters and have
                            capital and small
                            letters!</span>
                    </span>
                </div>
            </div>
            <input type="checkbox" name="rememberMe" value="remember" checked>Remember Me<br>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>
            <div>
                <a href="#" class="txt1">
                    Forgot Password?
                </a>
            </div>

            <!-- <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        or sign up using
                    </span>
                </div>

                <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> -->
        </form>
    </div>
</div>