<!-- <div class="col-md-6"> -->
<div class="card">
    <img src="../../../../assets/images/listing-item-02.webp" class="card-img-top" alt="..." style="width:100%;height: 100%">
    <h4>hellooo </h4>
    <h6>thiiiiiis is my hooootel</h6>
    <span><i class="far fa-heart"></i></span>
    <div class="card-body">
        <p class="card-text">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>(18 reviews)</span>
        </p>
    </div>
</div>
<!-- </div> -->