<header></header>
<router-outlet></router-outlet>
<!-- <hotels></hotels> -->
<!-- <hotel-listing></hotel-listing> -->
<!-- <restaurant></restaurant> -->
<!-- <restaurant-listing></restaurant-listing> -->
<!-- <activities></activities> -->

<!-- <app-hotel-card-listing></app-hotel-card-listing> -->
<!-- <hotels></hotels> -->

<!-- <countries></countries> -->
<!-- <trip-card-listing></trip-card-listing> -->

<!-- <countries></countries> -->

<!-- <app-cities></app-cities> -->


<!-- <app-make-trip></app-make-trip> -->

<!-- <preview-trip></preview-trip> -->

<!-- <app-cities></app-cities> -->
<!-- <preview-trip></preview-trip> -->

<!-- <city-listing></city-listing> -->

<!-- <activity-details></activity-details> -->

<footer></footer>