<div class="container">
    <div class="row" style="position: relative;justify-content: center;">

        <h2 class="card-overlay__header"> {{resturant.name}} </h2>

    </div>
    <div class="row">

        <span class="span" style="color:#EA7424;margin-left: 16rem;"> Address :{{resturant.address}}</span> |
        <span class="span" style="color:#EA7424">Restaurant Type:{{resturant.resturantType}} </span>
    </div>

    <div class="row" style="position: relative;justify-content: center;">
        <p class="card-overlay" style="font-weight: 700;"> Overall Rate
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </p>
    </div>
</div>

<!--Restaurant Gallery-->
<resturant-slider></resturant-slider>

<br><br><br>
<!-- client reviews -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="card-overlay__header">Clients Review</h2>
        </div>
    </div>
    <!-- Client's Review -->
    <reviews-listing [Reiviews]="resturant.reviews"></reviews-listing>
</div>
<br><br><br><br><br><br>

<!-- your review -->
<add-review></add-review>