.card-review {
    // background-color: gray;
    text-align: center;
    &__heading{
        font-weight: 700;
    }
    img {
        max-width: none;
        width: 50%;
        height: auto;
        border-radius: 50%;
    }
    &__footer{
        border-top: 1px solid rgba(24,24,24,.1);
    }
}