// .tab-active
// {
//     a 
//     {
//         color:black;
//     }
//     a:focus
//     {
//         color:#0056b3;
//         background-color: lightgray;
//     }
// }
.tab-active {
    a {
        color: $secondry-color;
    }

    a:focus {

        background-color: $primary-color;
    }
}

.tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    // min-height: 25.5rem;
    margin-left: 0rem !important;
    position: relative;
    flex-direction: column;
    margin-bottom: 5rem;

    &__headers {
        display: flex;
    }

    &__header {
        position: relative;
        z-index: 2;
        border: $border-light;
        border-top: 2px solid $gray-200;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
        // padding: 1.6rem 2.4rem;
        padding: 0.8rem;
        background-color: $gray-100;
        margin-right: 1px;
        color: $primary-color;

        &.active {
            border-top-color: $primary-color;
            background-color: $white-color;
            border-bottom-width: 0;
        }
    }

    &__bodies {
        // padding: 2.4rem;
        border: $border-light;
        // min-height: 20rem;
        position: relative;
        top: -2px;
    }

    &__body {

        // font-size: 1.4rem;
        &:not(.active) {
            display: none;
        }
    }
}