.footer{
    background-color: #121921;
    padding: 60px 35px 60px 35px;

    &__heading {
        color: #ffffff;
        margin-bottom: 25px;
        font-size: 1rem;
        font-weight: 500;
    }
    &__text{
        color: #ffffff;
        opacity: 0.7;
    }
    .follow-us{
        display: block;
        float: left;
        
        // height: 20px;
        // width: 20px;
    }
}