<div class="row">
    <div class="Guest col-2">
        <img class="Guest--img" [src]="reiview.image" alt="Avatar">
    </div>
    <div class="col">
        <div class="row">
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        </div>
        <div class="row">
            <p>{{reiview.comment}}</p>
        </div>
        <div class="row">
            <h5 style="color: cadetblue">{{reiview.reviewerName}}</h5>
        </div>
        <div class="row">
            <p>{{reiview.reviewrtitle}}</p>
        </div>
    </div>
</div>